useDynLib(sydneyPaternity, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(simulate_sibling_group)
export(genotype_array_to_txt)
export(list_of_genotype_arrays_to_txt)
export(genotype_array_from_txt)
export(paternity_vector_to_adjacency_matrix)
export(optimize_paternity_given_error_rates)
export(sample_paternity_and_error_rates_from_joint_posterior)
export(plot_genotyping_errors)
export(plot_posterior_number_of_fathers)
export(plot_posterior)
export(cross_validation_for_number_of_parents)
export(plot_cross_validation_scores)
export(plot_cross_validation_traces)
export(plot_cross_validation_parentage)
export(remove_loci_with_excessive_missingness)
export(remove_samples_with_excessive_missingness)
export(remove_monomorphic_loci)
export(simulate_mixed_colony)
export(sample_parentage_and_error_rates)
