useDynLib(sydneyPaternity, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(simulate_sibling_group)
export(genotype_array_to_txt)
export(list_of_genotype_arrays_to_txt)
export(genotype_array_from_txt)
export(allele_frequencies_from_genotype_array)
export(recode_genotype_array_to_integers)
export(paternity_vector_to_adjacency_matrix)
export(optimize_paternity_given_error_rates)
export(sample_paternity_given_error_rates)
